html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    height: 100%;
    background-size: cover;
    background-position: center center;
    display: block;
    background-image: url('imageArrierePlan.jpg'); 
    justify-items: center;
    align-items: center;
}
header {
    width: 100%;
    height: 10%;
    text-align: center;
    padding: 20px;
    background-color: #d9d9d9;
}


.header h1 {
    width: 1440px;
    height: 165px;
    margin: 0;
    display: block;
    color: #d9d9d900;
}


#imageDeFond {
    width: 100%;
    height: 100%;
    margin:0%;
    background-color: #d9d9d9;
    display: grid; 
    justify-content: auto; 
    align-items: auto; 
    background-size: cover; 
    background-position: center center; 
    background-repeat: no-repeat;
    grid-template-columns: 2;
    grid-template-rows:1 ;

}

#contenu{

    width: 1272px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    height: 716px;
    background-color: #d9d9d9; 
    border: 7px solid #009d52;
    display:block;
    background-size: cover; 
    background-position: center center; 
    background-repeat: no-repeat;
}
#formEquipe{
    width: 75%;
    height: 250px;
    margin: 10px;
    background-color: #ffffffa4;
    display: block;
    grid-column: 1;
    align-items: center;
    
}
button{
    width: auto;
    height: auto;
    background-color: #7fb69b;
    display: block;
    align-items: center;
    justify-items: center;
    border-radius: 8px;
    margin-top: 8px;
    
}
#recapEquipe{
    width: 75%;
    height: auto;
    background-color: #ffffffa4;
    margin: 10px;
    display:block;
    grid-column: 2;
}
#recapAvis {

    width: 25%;
    height: 100px;
    margin: 10px;
    background-color: #ffffffa4;
    display: block;
}

#modifAvis {

    width: 75%;
    height: 100px;
    margin: 10px;
    background-color: #ffffffa4;
    display: block;
}

#derAvis {

    width: 25%;
    height: 100px;
    margin: 10px;
    background-color: #ffffffa4;
    display: block;
}

#avisRec {

    width: 25%;
    height: 100px;
    margin: 10px;
    background-color: #ffffffa4;
    display: block;

    top: 317px;
    left: 1px;
}

.depAvis {
    width: 25%;
    height: 100px;
    margin: 10px;
    padding: 10%;
    background-color: #ffffffa4;
    display: block;

}


#validAvis {
    width: 25%;
    height: 100px;
    margin: 10px;
    background-color: #ffffffa4;
    display: block;

}
img {
    width: 80px;
    height: auto;
    align-items: center;
    justify-content: center;
    padding: 5px;
}
#noteAvis {
    width: 37%;
    height: 100px;
    margin: 10px;
    background-color: #ffffffa4;
    display: block;
    margin-left: 440px;
    margin-top: -350px;
}
p {
    font-size: 20px; 
    margin-left: 200px;
}
#dep{
    width: 182px;
    height: 50px;
    background-color: #ffffffa4;
    margin: 10px;
    display: block;
    margin-left: 1000px;
    margin-bottom: 325px;
    margin-top: -650px;
}
#modif{
    width: 182px;
    height: 50px;
    background-color: #ffffffa4;
    margin: 10px;
    display: block;
    margin-left: 1000px;
    margin-bottom: 325px;
    margin-top: -150px;

}
#valid{
    width: 182px;
    height: 50px;
    background-color: #ffffffa4;
    margin: 10px;
    display: block;
    margin-left: 1000px;
    margin-bottom: 325px;
    margin-top: -100px;
}